<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectorUrl" value="https://outlook.office.com/webhook/bd029c71-c271-475d-98a0-937c14d060b8@5b952ff1-536f-430c-86a2-06f37793e021/IncomingWebhook/dce0c04034524a0d893819e6cbff1c8c/f6bab459-16e1-421a-ba66-4a6b19ccac63" />
		<add key="PortalUrl" value="https://[portal-url]/" />
		<add key="NotificationInterval" value="30" />
		<add key="ida:ClientId" value="99f17379-ff52-47a5-a490-bc2adbb74e54" />
		<add key="ida:ClientSecret" value="a7hAHa04NF79O+/hJp4ok2HjDMl+iideEnW/+5vN1w0=" />
		<add key="ida:Tenant" value="schaeflein.onmicrosoft.com" />
	</appSettings>
	<connectionStrings>
		<!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
		<!-- For local execution, the value can be set either in this config file or through environment variables -->
		<add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=scpnptoolssa;AccountKey=UTvX8VmtBBZ4DKNu0jZ9yMN3Xueoen067D0RiGSrEdRdyQwzjzKAFTznoYCToLni2QmGDiMLC0ryEkagHfk6kw==;EndpointSuffix=core.windows.net" />
		<add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=scpnptoolssa;AccountKey=UTvX8VmtBBZ4DKNu0jZ9yMN3Xueoen067D0RiGSrEdRdyQwzjzKAFTznoYCToLni2QmGDiMLC0ryEkagHfk6kw==;EndpointSuffix=core.windows.net" />
	</connectionStrings>
		<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
		</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>