<section id="dashboard-view" data-ng-controller="ReportsAllApplicationsController as vm" ng-app="app">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="ms-font-su">
                {{ 'ALL_APPLICATIONS_TEXT' | translate }}
            </h1>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <uif-command-bar uif-search-term="vm.query" placeholder="{{ 'SEARCH_FILTER_TEXT' | translate }}" >
                        <uif-command-bar-search></uif-command-bar-search>
                        <div class="ms-CommandBar-sideCommands">
                            <div class="ms-CommandBarItem">
                                <div class="ms-CommandBarItem-linkWrapper">
                                    <a class="ms-CommandBarItem-link" style="text-decoration: none"
                                            ng-json-export-excel data="vm.applications"
                                            ng-disabled="vm.applications"
                                            ng-model="vm.applications"
                                            report-fields="vm.reportFields"
                                            filename="vm.csvExportFileName">
                                        <span class="ms-CommandBarItem-icon ms-Icon ms-Icon--download"></span>
                                        <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">{{ 'EXPORT_TEXT' | translate }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <uif-command-bar-main uif-show-overflow='true'>
                            <uif-command-bar-item ng-click="vm.openMenu()">
                                <span>{{ 'SHOW_ENTRIES_TEXT' | translate }}</span>
                                <uif-icon uif-type="chevronDown"></uif-icon>
                                <uif-contextual-menu uif-is-open="vm.isMenuOpen" uif-close-on-click="true">
                                    <uif-contextual-menu-item uif-text=10 ng-click="vm.setPageSize(10)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                    <uif-contextual-menu-item uif-text=25 ng-click="vm.setPageSize(25)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                    <uif-contextual-menu-item uif-text=50 ng-click="vm.setPageSize(50)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                </uif-contextual-menu>
                            </uif-command-bar-item>
                        </uif-command-bar-main>
                    </uif-command-bar>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="text-center">
                        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ms-Table">
                                <div class="ms-Table-row">
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_DISPLAY_NAME' | translate }} </span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_APPID_TEXT' | translate }} </span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_REPLY_URLS' | translate }}</span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_END_DATE' | translate }}</span>
                                </div>
                                <div class="ms-Table-row" dir-paginate="app in vm.applications | filter:vm.query | itemsPerPage: vm.pageSize" current-page="vm.currentPage">
                                    <span class="ms-Table-cell ms-fontWeight-regular">{{ app.displayName }}</span>
                                    <span class="ms-Table-cell ms-fontWeight-regular">{{ app.appId }}</span>
                                    <span class="ms-Table-cell ms-fontWeight-regular">
                                        <span class="ms-Table-row ms-fontWeight-regular" ng-repeat="name in app.replyUrls">{{name}}</span>
                                    </span>
                                    <span class="ms-Table-cell ms-fontWeight-regular">{{ app.endDate |  date:"MM/dd/yyyy h:mma" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="row text-right ms-borderColor-themeTertiary">
                        <div class="col-sm-12">
                           <span class="ms-font-s">{{vm.applications.length }} {{'TOTAL_RECORDS_TEXT' | translate }} </span>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" template-url="/Scripts/app/directives/directives.dirPagination.tpl.html"></dir-pagination-controls>
                </div>
        </div><!-- /.box -->
       </div>
    </div>
</section>


