<section id="dashboard-view" data-ng-controller="ReportsExpired90Controller as vm" ng-app="app">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="ms-font-su">
                {{ 'EXPIRED_PRINCIPALS_90_TEXT' | translate }}
            </h1>
            <div class="alert alert-success alert-dismissable"  ng-show="!vm.getPrincipalCount()">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ 'NOTIFICATION_NO_EXPIRED_PRINCIPALS_TEXT' | translate }}</strong>
            </div>
            <div class="alert alert-warning alert-dismissable" ng-show="vm.getPrincipalCount()">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-exclamation-triangle"></i> <strong>{{ 'PRINCIPALS_EXPIRING_WARNING_TEXT' | translate }}</strong>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <uif-command-bar uif-search-term="vm.query" placeholder="{{ 'SEARCH_FILTER_TEXT' | translate }}">
                        <uif-command-bar-search></uif-command-bar-search>
                        <div class="ms-CommandBar-sideCommands">
                            <div class="ms-CommandBarItem">
                                <div class="ms-CommandBarItem-linkWrapper">
                                    <a class="ms-CommandBarItem-link" style="text-decoration: none"
                                       ng-json-export-excel data="vm.principals"
                                       ng-disabled="vm.principals"
                                       ng-model="vm.principals"
                                       report-fields="vm.reportFields"
                                       filename="vm.csvExportFileName">
                                        <span class="ms-CommandBarItem-icon ms-Icon ms-Icon--download"></span>
                                        <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">{{ 'EXPORT_TEXT' | translate }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <uif-command-bar-main uif-show-overflow='true'>
                            <uif-command-bar-item ng-click="vm.openMenu()">
                                <span>{{ 'SHOW_ENTRIES_TEXT' | translate }}</span>
                                <uif-icon uif-type="chevronDown"></uif-icon>
                                <uif-contextual-menu uif-is-open="vm.isMenuOpen" uif-close-on-click="true">
                                    <uif-contextual-menu-item uif-text=10 ng-click="vm.setPageSize(10)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                    <uif-contextual-menu-item uif-text=25 ng-click="vm.setPageSize(25)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                    <uif-contextual-menu-item uif-text=50 ng-click="vm.setPageSize(50)" ng-model="vm.pageSize"></uif-contextual-menu-item>
                                </uif-contextual-menu>
                            </uif-command-bar-item>
                        </uif-command-bar-main>
                    </uif-command-bar>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="text-center">
                        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ms-Table">
                                <div class="ms-Table-row">
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_DISPLAY_NAME' | translate }} </span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_APPID_TEXT' | translate }} </span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_PRINCIPAL_NAMES' | translate }}</span>
                                    <span class="ms-Table-cell ms-fontSize-mPlus ms-fontWeight-semibold">{{ 'AAD_END_DATE' | translate }}</span>
                                </div>
                                <div class="ms-Table-row" dir-paginate="principal in vm.principals | filter:vm.query | itemsPerPage: vm.pageSize" current-page="vm.currentPage">
                                    <span class="ms-Table-cell ms-fontWeight-regular">{{ principal.displayName }}</span>
                                    <span class="ms-Table-cell .ms-fontWeight-regular">{{ principal.appId }}</span>
                                    <span class="ms-Table-cell">
                                        <span class="ms-Table-row .ms-fontWeight-regular" ng-repeat="name in principal.principalNames">{{name}}</span>
                                    </span>
                                    <span class="ms-Table-cell .ms-fontWeight-regular">{{ principal.endDate |  date:"MM/dd/yyyy h:mma" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="row text-right ms-borderColor-themeTertiary">
                        <div class="col-sm-12">
                            <span class="ms-font-s">{{vm.principals.length }} {{'TOTAL_RECORDS_TEXT' | translate }} </span>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" template-url="/Scripts/app/directives/directives.dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section scripts {

}


