<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ida:PostLogoutRedirectUri" value="https://testautomation.sharepointpnp.com/" />
    <add key="EncryptionKey" value="PnPTestAutomation" />
    <add key="ExchangeServerEmailID" value="testautomation@officedevpnp.onmicrosoft.com" />
    <add key="ExchangeServerpwd" value="E375ce3d00" />
  </appSettings>
  <connectionStrings>
    <add name="PnPTestAutomationEntities" connectionString="metadata=res://*/PnPTestModel.csdl|res://*/PnPTestModel.ssdl|res://*/PnPTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pnp.database.windows.net;initial catalog=PnP;user id=PnP;password=1This2Is3A4Complex5Password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>