<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.17.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Memory" version="6.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Identity.Client" version="4.46.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.22.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="6.22.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.22.1" targetFramework="net462" />
  <package id="PnP.Core" version="1.7.0" targetFramework="net462" />
  <package id="PnP.Core.Auth" version="1.7.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.22.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="TimeZoneConverter" version="5.0.0" targetFramework="net462" />
</packages>