<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="GenericParser" version="1.1.5" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="SharePointPnP.IdentityModel.Extensions" version="1.2.2" targetFramework="net452" />
</packages>