<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ 'ABOUT_TEXT' | translate }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid ">
            <div class="box-body">
                <p>This is a sample application</p>
            </div>
        </div>
    </div>
</div>