<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ 'ABOUT_TEXT' | translate }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid ">
            <div class="box-body">
                <p>
                This solution is used to display information regarding your Azure Active Directory Tenant specifically related to Service Principals that are only surfaced via PowerShell. 
                </p>
                <p>
                By default, when you register an add-in with appregnew/appinv, these service principals are not displayed in the Azure Portal and the default expiration is 1 year. 
                This solution will also assist you with identifying apps (add-ins) that are expired or that will be expiring soon.</p>
            </div>
        </div>
    </div>
</div>