<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SPOTenantUrl" value="https://bertonline-admin.sharepoint.com" />
    <add key="SPODevSiteUrl" value="https://bertonline.sharepoint.com/sites/espctest2" />

    <!--<add key="AppId" value="95632641-9424-4739-9771-97fdc5fb0f52"/>
    <add key="AppSecret" value="IDuvmLeRe9+tIajMZxX6ulE95pJFjSyJ/sbpjccOZRQ="/>-->

    <add key="SPOCredentialManagerLabel" value="bertonline" />
    <add key="SPOUserName" value="bert.jansen@bertonline.onmicrosoft.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>