@if (Request.IsAuthenticated)
{
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href=@Url.Action("Index", "Home")><i class="ms-Icon ms-Icon--home"></i>{{ 'HOME_TEXT' | translate }} </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> {{ 'APPLICATIONS_TEXT' | translate }} <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href=@Url.Action("Applications", "Reports")>{{ 'REPORTS_ALL_APPLICATIONS_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredApplications", "Reports")>{{ 'EXPIRED_APPLICATIONS_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredApplications30", "Reports")>{{ 'EXPIRED_IN_30_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredApplications60", "Reports")>{{ 'EXPIRED_IN_60_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredApplications90", "Reports")>{{ 'EXPIRED_IN_90_TEXT' | translate }} </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> {{ 'SERVICEPRINCIPALS_TEXT' | translate }} <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href=@Url.Action("Principals", "Reports")>{{ 'REPORTS_ALL_PRINCIPAL_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredPrincipals", "Reports")>{{ 'REPORTS_EXPIRED_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredPrincipals30", "Reports")>{{'EXPIRED_IN_30_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredPrincipals60", "Reports")>{{ 'EXPIRED_IN_60_TEXT' | translate }} </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ExpiredPrincipals90", "Reports")>{{ 'EXPIRED_IN_90_TEXT' | translate }} </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href=@Url.Action("About", "Home")><i class="fa fa fa-fw fa-info"></i>{{ 'ABOUT_TEXT' | translate }} </a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </section>
    </aside>

}
